<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Polls app</title>
  </head>

  <body>

    <h1>{{ question.question_text|safe }}</h1>    <!-- Insecure, remove |safe tag to fix -->
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text|safe }}</label><br>    <!-- Insecure, remove |safe tag to fix -->
        {% endfor %}
        
        <input type="submit" value="Vote">
    </form>

  </body>
</html>