<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Polls app</title>
    
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  </head>
  
  <body>
    
    {% if latest_question_list %}
        <ul>
		{% if user.is_authenticated %}
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        {% else %}
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    
    {% if user.is_authenticated %}
        <p>You are currently logged in as {{ user.username }}.</p>
        <form action='/logout/' method="POST">
            {% csrf_token %}
            <input type="submit" value="Log out"/>
        </form>
    {% else %}
	    <p>Log in to enable voting.</p>
        <form action='/login/' method="GET">
            {% csrf_token %}
            <input type="submit" value="Log in"/>
        </form>
    {% endif %}
  </body>
</html>